/* Style That Apply to Everything */
* {
	box-sizing: border-box;
/*	border: 1px green solid;*/
}


/* Removes All SR-Only Text */
.sr-only {
	display: none;
}


/* Reset Margins */
.reset {
	margin: 0;
}


/* Adds Shadow to Text */
.text-shadow {
	text-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.8);
}


/* Highlight Text */
.text-highlight {
	color: #e00077;
}


/* White Text */
.white-text {
	color: white;
	text-decoration: none;
}


/* Black Background */
.blackbg {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 1rem;
	width: 50%;
	margin: 1rem auto;
}

/* Lavender Banner*/
.lavender-ban {
	background-color: rgba(85, 19, 53, 0.8);
	padding: .5rem;
}

/* Fix Position Elements */
.fixed-element {
	position: fixed;
	z-index: -1;
}

/* Staff Img Right */
.staff-img-right {
	text-align: right;
}

/* Staff Img Left */
.staff-img-left {
	text-align: left;
}

/* Staff Text Right */
.staff-text-right {
	display: inline-block;
	width: 100%;
	left:0;
	transform: translateX(18%);
	padding-right: 80%;
	text-align: center;
}

/* Staff Text Left */
.staff-text-left {
	display: inline-block;
	width: 100%;
	right:0;
	transform: translateX(-18%);
	padding-left: 80%;
	text-align: center;
}

/* Get What We Do Text To Scroll In */
.what_we_do_text_scroll_in {
	position: fixed;
	z-index: 1;
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
}


/* Background */
body {
	/*	background-image: url(../img/water_drop.jpg);*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #4d0d2c;
	background-position: 50% 0, center;
	background-size: 120rem;
	max-width: 120rem;
	overflow-x: hidden;
	margin: 0 auto;
}

.container {
	text-align: center;
	margin-top: 9rem;
	overflow: hidden;
	clip: rect(0, 120rem, auto, 0);
	position: absolute;
	width: 100%;
	max-width: 120rem;
}

h1 {
	font-size: 4rem;
	font-family: Oswald, sans-serif;
	margin: .5rem;
}

h2 {
	font-size: 2rem;
	font-family: PT Sans, sans-serif;
	margin: .5rem;
}

h3 {
	font-size: 1.4rem;
	font-family: PT Sans, sans-serif;
	margin: 0.5rem;
}


/* Header */
header {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 120rem;
	padding: 1rem 1.875rem;
	z-index: 1000;
	background-color: rgb(0, 0, 0);
}

.headerbar {
	width: 100%;
}


/* logo */
.logo_container {
	display: inline-block;
	width: 49.8%;
	height: 100%;
}

.logo {
	display: inline-block;
	width: 12.5rem;
}


/* Navigation Bar */
nav {
	vertical-align: top;
	text-align: right;
	display: inline-block;
	width: 49.8%;
}

.navbar,
.nav-item {
	display: inline-block;
	margin-top: 1.25rem;
}

.nav-link {
	font-size: 1.5625rem;
	font-family: Oswald, fantasy;
	margin-left: 4rem;
}


/* Billbaord */
.billboard {
	padding-top: 14rem;
	height: 51rem;
	color: white;
	position: relative;
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
}

.billboard_text {
	width: 100%;
	margin: 0 auto;
	right: 0;
}

.billboard_h1 {
	font-size: 3rem;
	font-size: 5.375rem;
	margin: 0 auto;
}

.billboard_h3 {
	padding: 1rem 0;
}


/* What We Do */
.what_we_do {
	background-color: black;
	height: 45rem;
	background-repeat: no-repeat;
	background-position: center top -10rem;
	background-size: 120rem;
	width: 100%;
	max-width: 120rem;
	position: relative;
	overflow-x: hidden;
}

.what_we_do_text {
	margin-top: 7rem;
	position: absolute;
	width: 100%;
}

.what_we_do_h1 {
	font-size: 5.375rem;
	top: 17rem;
	margin-bottom: 2rem;
	line-height: 4.9rem;
}

.what_we_do_h2 {
	font-size: 3rem;
	top: 6rem;
	margin: 1rem;
	padding-top: 2rem;
}

.what_we_do_h3 {
	font-size: 1.5rem;
	top: 31rem;
	margin: 0 auto;
	padding: 1rem;
	line-height: 2.1rem;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 1rem;
	width: 50%;
}


/* Our Work */
.our_work_title {
	text-align: center;
	padding: .1rem 2rem;
	background-color: rgb(0, 0, 0);
}

.our_work_title>h3 {
	margin: 1.5rem;
}

.work_example {
	text-align: left;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 3);
	margin: -.11rem;
	max-height: 40rem;
}

.work_example>a {
	color: white;
	text-decoration: none;
}

.company {
	margin-bottom: calc(1.5 * (100% / 3));

}

.work_text {
	height: 18rem;
	z-index: 1000;
	vertical-align: bottom;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: .5rem 1rem;
}

.campaign {
	height: 9rem;
}

.company_img_container {
	position: absolute;
	width: 100%;
	padding-bottom: 110%;
	top: 0;
	right: 0;
}

.company_img {
	position: absolute;
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: 100%;
	filter: brightness(0.35) contrast(1) sepia(100%) hue-rotate(270deg) saturate(2.5);
	z-index: -1;
}


/* Who We Are */
.who_we_are {
	width: 100%;
	max-width: 120rem;
	position: relative;
	text-align: center;
/*
	padding-top: 18rem;
	height: 46rem;
*/
	margin: 18rem auto 8rem auto;
}

.who_we_are_img {
	background-color: #4d0d2c;
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	top: 8rem;
	left: 0;
	right: 0;
}

.who_we_are_text {
	width: 100%;
	margin: 0 auto;
	right: 0;
}

.who_we_are_h3 {
	padding: .5rem;
}


/* The Staff */
.staff_container {
	background-color: rgba(0, 0, 0, 0.8);
}

.staff_h1 {
	margin: 0;
}

.staff_member {
	text-align: left;
	position: relative;
    height: 100%;
}

.staff_text_container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
}

.staff_text_boarder {
	width: 100%;
	height: 100%;
	display: table;
}

.staff_text {
	display: table-cell;
	vertical-align: middle;
}

.staff_name {
	font-size: 2.75rem;
}

.staff_about {
	font-size: 1.5rem;
}

.staff_img_container {
	width: 50%;
	position: relative;
	padding-bottom: calc(100% / 2.75);
}

.staff_img {
	position: absolute;
	object-fit: cover;
	object-position: 0rem -1rem;
	width: 100%;
	height: 100%;
}



/* Footer */
.footer-bar {
	background-color: black;
	height: 9.6rem;
	padding: 0 2rem;
	width: 100%;
	max-width: 120rem;
}

.footer-info {
	display: inline-block;
	width: 30%;
	text-align: left;
}

.footer_logo_container {
	display: inline-block;
	width: 39%;
}

.footer_logo {
	width: 8rem;
	margin-bottom: 2rem;
}

.social_icon_container {
	display: inline-block;
	width: 30%;
	text-align: right;
}

.social_icon {
	width: 1.5rem;
	margin-bottom: 5rem;
	margin-left: 1rem;
}


/* Media Query - Max Width:  */
@media (max-width: 500px;
) {
	body {
		background-color: aliceblue;
	}
}